<!DOCTYPE html>
<html>
<head>
  <title>ActiveModelSerializersIssue135</title>
  <%= stylesheet_link_tag    "active_model_serializers_issue135/application", :media => "all" %>
  <%= javascript_include_tag "active_model_serializers_issue135/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
